<div class="card flex justify-content-center p-8 bg-snow-default shadow-lg rounded-md">
  <!-- <form [formGroup]="formGroup"> -->
  <div class="mx-3">
    <p-calendar [minDate]="today" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
      placeholder="Arrival/Departure" [showIcon]="true" styleClass="bg-navy-default rounded-md"></p-calendar>
  </div>
  <div class="ml-3">
    <p-button (click)="op.toggle($event)" icon="pi pi-chevron-down" label="Guests"
      [styleClass]="'p-button bg-navy-default'"></p-button>
  </div>

  <div class="mx-3">
    <p-button icon="pi pi-check" label="Book"
      [styleClass]="'p-button bg-navy-default'"></p-button>
  </div>

  <p-overlayPanel #op>
    <img src="./assets/cardimg.png" alt="product" />
  </p-overlayPanel>
  <!-- </form> -->
</div>