<div class="flex flex-col h-screen">
  <app-menu></app-menu>
  <div class="flex flex-grow items-center justify-center mb-16"
    style="background-image: url('https://images.unsplash.com/photo-1618004652321-13a63e576b80?auto=format&q=75&fit=crop&w=1500');">
    <div class="absolute top-16 mb-16 inset-0 bg-navy-default mix-blend-multiply"></div>
    <div class="relative flex flex-col items-center p-4 sm:max-w-xl">
      <p class="mb-4 text-center text-lg font-RedHatDisplay text-indigo-200 sm:text-xl md:mb-8">Best Western</p>
      <div class="flex flex-row">
        <h1
          class="mb-8 text-center text-4xl font-LemonMilk uppercase font-bold text-snow-default sm:text-5xl md:mb-12 md:text-6xl">
          <span class="text-blood-default">A</span>rctic Eden Hotel
        </h1>
      </div>

      <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
        <button (click)="scroll(book)" skipLocationChange
          class="inline-block rounded-lg bg-sun-default px-8 py-3 text-center text-sm font-semibold text-snow-default outline-none ring-sun-500 transition duration-100 hover:bg-sun-600 focus-visible:ring active:bg-sun-950 md:text-base">
          Book Room
        </button>

        <!-- <a href="#"
          class="inline-block rounded-lg bg-sun-default px-8 py-3 text-center text-sm font-semibold text-snow-default outline-none ring-sun-400 transition duration-100 hover:bg-sun-600 focus-visible:ring active:text-sun-700 md:text-base">Take
          tour</a> -->
      </div>
    </div>
  </div>
</div>
<!-- BOOKING BAR CONTENT -->
<div class="-mt-16" #book id="book">
  <app-datepicker></app-datepicker>
</div>

<!-- ABOUT SECTION CONTENT -->
<div class="">
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-white shadow-lg md:h-auto">
            <img
              src="https://images.unsplash.com/photo-1610465299996-30f240ac2b1c?auto=format&q=75&fit=crop&w=600&h=750"
              loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>

        <div class="md:pt-8">
          <p class="text-center font-bold text-indigo-500 md:text-left">Who we are</p>

          <h1 class="mb-4 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6 md:text-left">Our competitive
            advantage</h1>

          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
            This is a section of some simple filler text, also known as placeholder text. It shares some characteristics
            of a real written text but is random or otherwise generated. It may be used to display a sample of fonts or
            generate text for testing. Filler text is dummy text which has no meaning however looks very similar to real
            text.<br /><br />

            This is a section of some simple filler text, also known as placeholder text. It shares some characteristics
            of a real written text but is <a href="#"
              class="text-indigo-500 underline transition duration-100 hover:text-indigo-600 active:text-indigo-700">random</a>
            or otherwise generated. It may be used to display a sample of fonts or generate text for testing. Filler
            text
            is dummy text which has no meaning however looks very similar to real text.
          </p>

          <h2 class="mb-2 text-center text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4 md:text-left">About us
          </h2>

          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">This is a section of some simple filler text, also known as
            placeholder text. It shares some characteristics of a real written text but is random or otherwise
            generated.
            It may be used to display a sample of fonts or generate text for testing. Filler text is dummy text which
            has
            no meaning however looks very similar to real text.</p>
        </div>
      </div>
    </div>
  </div>
</div>