/* You can add global styles to this file, and also import other style files */
@import "assets/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Lemon Milk';
    src: url(/fonts/LemonMilk.otf) format("otf");
  }
  @font-face {
    font-family: 'Red Hat Display';
    font-weight: 500;
    src: url(/fonts/RedHatDisplay.ttf) format("ttf");
  }
}
@layer components {
  html {
    @apply scroll-smooth;
  }
}